# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Hardhat specific
artifacts/
cache/
coverage/
typechain/
typechain-types/
hardhat.config.ts.bak

# Compiled files
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.tmp

# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/
